@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 768px) {

  div,
  p,
  span {
    font-family: system-ui, -apple-system, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}


:root {
  --radius: 0.625rem;
  --background: 255 255 255;
  --foreground: 37 37 37;
  --card: 255 255 255;
  --card-foreground: 37 37 37;
  --popover: 255 255 255;
  --popover-foreground: 37 37 37;
  --primary: 0 179 236;
  --primary-foreground: 255 255 255;
  --secondary: 247 247 247;
  --secondary-foreground: 51 51 51;
  --muted: 247 247 247;
  --muted-foreground: 115 115 115;
  --accent: 247 247 247;
  --accent-foreground: 51 51 51;
  --destructive: 225 29 72;
  --border: 229 229 229;
  --input: 229 229 229;
  --ring: 181 181 181;
}

.dark {
  --background: 37 37 37;
  --foreground: 255 255 255;
  --card: 51 51 51;
  --card-foreground: 255 255 255;
  --popover: 51 51 51;
  --popover-foreground: 255 255 255;
  --primary: 229 229 229;
  --primary-foreground: 51 51 51;
  --secondary: 64 64 64;
  --secondary-foreground: 255 255 255;
  --muted: 64 64 64;
  --muted-foreground: 181 181 181;
  --accent: 64 64 64;
  --accent-foreground: 255 255 255;
  --destructive: 244 63 94;
  --border: 255 255 255;
  --input: 255 255 255;
  --ring: 115 115 115;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

body {
  min-width: 360px;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  @keyframes marquee-left {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes marquee-right {
    0% {
      transform: translateX(-50%);
    }

    100% {
      transform: translateX(0);
    }
  }

  .animate-marquee-left {
    animation: marquee-left 35s linear infinite;
  }

  .animate-marquee-right {
    animation: marquee-right 35s linear infinite;
  }
}

.font-ps {
  font-family: var(--font-product-sans), system-ui, -apple-system, sans-serif !important;
}

.fallback-font-fix {
  font-display: swap !important;
  content-visibility: auto;
}

h1[ref="titleRef"],
p[ref="subtitleRef"] {
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  will-change: transform, opacity;
}

.svg-hover {
  color: black;
}