@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 768px) {
  div,
  p,
  span {
    font-family: system-ui, -apple-system, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}

:root {
  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: #252525;
  --card: #ffffff;
  --card-foreground: #252525;
  --popover: #ffffff;
  --popover-foreground: #252525;
  --primary: #00b3ec;
  --primary-foreground: #ffffff;
  --secondary: #f7f7f7;
  --secondary-foreground: #333333;
  --muted: #f7f7f7;
  --muted-foreground: #737373;
  --accent: #f7f7f7;
  --accent-foreground: #333333;
  --destructive: #e11d48;
  --border: #e5e5e5;
  --input: #e5e5e5;
  --ring: #b5b5b5;
}

.dark {
  --background: #252525;
  --foreground: #ffffff;
  --card: #333333;
  --card-foreground: #ffffff;
  --popover: #333333;
  --popover-foreground: #ffffff;
  --primary: #e5e5e5;
  --primary-foreground: #333333;
  --secondary: #404040;
  --secondary-foreground: #ffffff;
  --muted: #404040;
  --muted-foreground: #b5b5b5;
  --accent: #404040;
  --accent-foreground: #ffffff;
  --destructive: #f43f5e;
  --border: rgba(255, 255, 255, 0.1);
  --input: rgba(255, 255, 255, 0.15);
  --ring: #737373;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  min-width: 360px;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  @keyframes marquee-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes marquee-right {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .animate-marquee-left {
    animation: marquee-left 35s linear infinite;
  }

  .animate-marquee-right {
    animation: marquee-right 35s linear infinite;
  }
}

.font-ps {
  font-family: var(--font-product-sans), system-ui, -apple-system, sans-serif !important;
}

.fallback-font-fix {
  font-display: swap !important;
  content-visibility: auto;
}

h1[ref="titleRef"],
p[ref="subtitleRef"] {
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  will-change: transform, opacity;
}

.svg-hover {
  color: black;
}